<html>
<head>
<title>URL Shortener </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script src="https://cdn.tailwindcss.com"></script>


</head>
<body>
<div class="flex-col grid-cols-1 flex items-center justify-center p-6 gap-8" >
<h1 class="text-3xl font-bold underline"> URL:Shortener</h1>
<input class= "shadow rounded" type="url" id="url" name="url" placeholder="URL">
<input class= "shadow rounded" type="text" id="url_id" name="url_id" placeholder="ALIAS">
<input class= "shadow rounded" type="email" id="email" name="email" placeholder="EMAIL">
<button class= "h-10 px-6 font-semibold rounded-md bg-black text-white" hx-post="/create" hx-trigger="click" hx-indicator="#loading"
hx-swap="outerHTML"  hx-include="[name='url'], [name='url_id'], [name='email']">
Shorten
</button>
</div>
</body>
</html>